:root {
    --bronze: #cd7f32;
    --side-nav-width: 20%;
    --main-bg: #111;
}

body {
    overflow: hidden;
    height: 100vh;
    background-color: var(--main-bg);
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Manrope, sans-serif;
}

main {
    overflow-y: auto;
    width: calc(100% - var(--side-nav-width) * 2);
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

li {
    list-style: none;
    color: #fff;
    text-align: center;
    vertical-align: center;
}

/* Popups */
#transparentBG {
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 50%);
    z-index: 6968;
    position: absolute;
    display: none;
}

#confirmationBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6969;
    width: 30%;
    height: 30%;
    background-color: #141414;
    border-radius: 5px;
    border: 1px solid gold;
}

#confirmWrapper,
#alertWrapper,
#promptWrapper {
    height: 100%;
    display: none;
}

#confirm > p,
#alert > p,
#prompt > label {
    grid-area: txt;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

/* Elements relating to the browser popup functions (Alert, Confirm, etc) */

#okConfirm,
#okAlert,
#okPrompt { grid-area: btn; }

#cancelConfirm,
#cancelPrompt { grid-area: btn2; }
#promptText { grid-area: lbl; }

#confirm > button,
#alert > button,
#prompt > button {
    width: 75%;
    border: 1px solid gold;
    margin: 0 auto;
    height: 50%;
    transition-duration: 0.15s;
    background-color: #171717;
    color: #fff;
}

#confirm > button:hover,
#alert > button:hover,
#prompt > button:hover {
    background-color: #333;
}

#confirm {
    height: 100%;
    display: grid;
    grid-template:
        "txt txt txt txt"
        ". btn btn2 .";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 75% 25%;
}

#alert {
    height: 100%;
    display: grid;
    grid-template:
        "txt txt txt"
        ". btn .";
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-template-rows: 75% 25%;
}

#prompt {
    height: 100%;
    display: grid;
    grid-template:
        ". . . ."
        "txt txt txt txt"
        ". lbl lbl ."
        ". . . ."
        ". btn btn2 .";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5% 55% 10% 5% 25%;
}

/* End of popups */

.mainProgressBarArea {
    display: flex;
    flex-direction: row;
    border-top: 2px solid red;
    border-bottom: 2px solid white;
    width: 100%;
}

.tabSeparator {
    margin-top: 15px;
    margin-bottom: 15px;
    width: var(--side-nav-width);
    color: yellow;
    text-align: center;
}

.progressBarBig {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    border: 2px solid white;
    margin-left: 5%;
    width: 70%;
}

.progressBarBigText {
    height: 25px;
    border: 2px solid white;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: black;
    z-index: 10;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#progression {
    width: 5%;
    background-color: purple;
    height: 100%;
}

#smallResourceIndicators {
    display: flex;
    /* Prevent shaky numbers */
    font-variant-numeric: tabular-nums;
    /* Place in bottom right */
    position: absolute;
    bottom: 0;
    right: 0;
}

#smallResourceIndicators > div {
    /* Place child elements side-by-side */
    display: inline-block;
}

#perSecCurr {
    color: gold;
}

#perSecPrev {
    color: var(--bronze);
}

#coinWorth {
    color: gold;
}

aside.sideNav {
    border-right: 1px solid #ededed;
    flex: 1 0 0%;
    max-width: var(--side-nav-width);
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

@media (max-width: 500px) {
    .wrapper {
        flex-direction: column-reverse;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

#resourceIndicators,
.wrapperInner {
    position: relative;
    margin: 50px;
    height: 475px;
}

#innerTesting {
    overflow-y: visible;
}

.tabColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    width: 100%;
}

.tab {
    padding: 16px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.tab:hover {
    background-color: gray;
    transition-duration: 0.15s;
    cursor: pointer;
}

.tabs {
    text-align: center;
}

.coinUpgrades {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.coinUpgrade {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px solid gold;
    padding: 12px;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    flex-basis: 50%;
    margin-bottom: 10px;
}

.coinUpgradeText {
    height: auto;
    margin: auto;
}

.coinUpgrade > button {
    height: 20px;
    width: 150px;
    cursor: pointer;
    background-color: var(--main-bg);
    color: white;
}

#resourceIndicators {
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

#resourceIndicators > div {
    flex: 1 0 auto;
    margin: 5% 10%;
}

.talentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid #da70d6;
    padding: 12px;
}

.talentContainer > p {
    height: auto;
    margin: auto;
}

.talentBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.talentProgressBar {
    position: relative;
    width: 100%;
    height: 40px;
    border: 2px solid white;
    vertical-align: middle;
}

.talentSacrificeArea {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.talentBarText {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 25px;
    border: 2px solid white;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: black;
    z-index: 10;
    text-align: center;
    word-break: break-all;
    overflow: hidden;
}

.talentProgression {
    height: 100%;
    background-color: cyan;
    width: 5%;
}

.talentSacrifice {
    width: 40%;
    height: 40px;
    cursor: pointer;
    background-color: var(--main-bg);
    color: orchid;
    margin-right: 10px;
}

.talentInfo {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.talentInfoText {
    height: auto;
    margin: auto;
    text-align: left;
    width: 90%;
}

.mainBattleContainer {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.5%;
}

.duelingStatArea {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    align-items: right;
    margin: 10px;
}

.duelingProgressBar {
    position: relative;
}

.duelingBarText {
    position: absolute;
    bottom: 25%;
    height: 50%;
    width: 100%;
    z-index: 10;
    text-align: center;
    vertical-align: center;
    overflow: hidden;
}

.duelingBarProgression {
    width: 100%;
    height: 100%;
}

.hpBar {
    width: 250px;
    height: 40px;
    border: 2px solid grey;
}

.mpBar {
    width: 250px;
    height: 40px;
    border: 2px solid white;
}

.hpBarProgression {
    background-color: red;
}

.mpBarProgression {
    background-color: darkblue;
}

#enemyHPProgression {
    align-self: right;
}

#enemyMPProgression {
    align-self: right;
}

.statSummary {
    margin-top: 12%;
    margin-bottom: 12%;
    margin-right: 30%;
    text-align: right;
}

.statSummary > p {
    margin: auto;
    height: auto;
}

#playerMoves {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moveButton {
    height: 30px;
    width: 175px;
}

@media screen and (max-width: 1130px) {
    #coinUpgrades {
        flex-direction: column;
        align-items: center;
        min-height: auto;
        overflow: hidden;
    }

    .coinUpgrade {
        width: calc(100% / 3);
    }

    .wrapperInner {
        height: auto;
    }

    .coinUpgrade > button {
        width: 80%;
        word-break: break-all;
        overflow: hidden;
    }
}
